.div {
  display: inline-block;display: inline-block;
    width: 55px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align:center;
  height: 55px;
  border-radius: 25%;
  background-color: lightgreen;
  color: white;
  font-size: 22px;
  border: solid 3px white;
  margin-bottom: 20px;
  margin: 5px 0;
  cursor: pointer;
 
  
}

.but{
  display: inline-block; 
width: 55px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align:center;
height: 55px;
border-radius: 25%;
background-color: rgb(206, 71, 71);
color: white;
font-size: 22px;

cursor: pointer;
border: solid 3px white;

}
body{
    background-color: gray;
}
.text{
  background-color: black;
  color: aliceblue;
  border: solid 2px white;
  height: 40px;
  font-size: 20px;
  border-radius: 8%;

}

.cont{
  display: inline-block;
  margin: 2px;

}

