.div {
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align:center;
  height: 200px;
  border-radius: 25%;
  background-color: lightgreen;
  color: white;
  font-size: 80px;
  border: solid 5px white;
  
}

.div1{
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align:center;
  height: 200px;
  border-radius: 25%;
  background-color: rgb(223, 75, 75);
  color: white;
  font-size: 80px;
  border: solid 5px white;
  margin-top: 20px;
  

}
body{
    background-color: gray;
}